body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: #E4F9F5;
     position: relative;
     padding-top: 150px;
}
.pro{
    text-decoration: underline;
}
p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;

}
.middle-container{
     margin: 100px 0px;
}
.bottom-container{
     margin-top: 20px;
     background-color: #66BFBF;
     padding: 50px 0px 20px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
     
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 250px;
}
.top-cloud{
    position: absolute;
    right: 350px;
    top: 60px;
}
.middle-container .profile img{
    border-radius: 100%;
}
 
.my_skill{
    border-radius: 100%;
    width: 30%;
    float: left;
    margin-right: 30px;
}
.hot-wings{
    border-radius: 100%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.top-container p{
    font-size: 2.5em;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
} 
.btn {
    background: #11cdde;
    background-image: -webkit-linear-gradient(top, #11cdde, #11999e);
    background-image: -moz-linear-gradient(top, #11cdde, #11999e);
    background-image: -ms-linear-gradient(top, #11cdde, #11999e);
    background-image: -o-linear-gradient(top, #11cdde, #11999e);
    background-image: linear-gradient(to bottom, #11cdde, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
     
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75em;
    padding: 20px 0;
  }